img{vertical-align:middle;z-index:0;}
* {margin:0;padding:0;}
* {box-sizing: border-box}
li{border-bottom:1px solid #ddd;box-sizing:border-box;text-align:center} 
li:before,li:after {content: "";clear:both; display:table}
a {text-decoration:none;color:inherit}
a:visited {color:inherit}
ul {list-style-type:none;margin:0;padding:0}

/*Classes for navigation bar when screen is larger than 809px*/
.top {top:0;position:fixed;width:100%;z-index:5}
.bar {display:block;overflow:hidden;border-bottom:1px solid rgb(215,215,215)}
.white-orange {background-color:rgb(255,255,255);z-index:15}
.top:before,.top:after {content: "";clear:both; display:table}

/*Classes for logo*/
.logo{float:left;display:inline-block;width:30%;padding-left:4px;padding-top:4px;}

/*Classes for navigation bar items when screen is larger than 809px*/
.bar-itemDif{display:inline-block;border:none;vertical-align:middle;cursor:pointer;padding:14px 20px;}
.bar-itemDif:hover {color:rgb(60,179,113)!important;} 
.bar-items{float:left;width:70%;margin:auto;padding:0}
.bar-item{display:inline-block;border:none;vertical-align:middle;cursor:pointer;padding:14px 4px;}
.text{letter-spacing:0.1px;text-align:left;border:none;white-space:normal;text-decoration:none;font-family:'Source Sans Pro',Arial,sans-serif;font-size:14px;color:rgb(100,100,100)!important;font-weight:600;}
.bar-item:hover {color:rgb(60,179,113)!important;border-bottom:2px solid rgb(60,179,113);padding-bottom:12px} 

/*Classes for dropdown menu*/
.dropdown {display:none;width:210px;background-color:rgb(255,255,255);z-index:2;position:absolute;margin-left:0px;margin-top:0px;border:1px solid rgb(215,215,215)}
.dropdownContent{display:block;border:none;padding:9px 5px}
.dropdownContent:hover {color:rgb(60,179,113)!important;background-color:rgb(245,245,245)}
.dropdownHover{display:inline-block}
.dropdownHover:hover .bar-item {color:rgb(60,179,113)!important;border-bottom:2px solid rgb(60,179,113);padding-bottom:12px}
.dropdownHover:hover .dropdown {display:block!important}
.dropdownHover .bar-item {width:100%;position:relative}

/*Classes for navigation bar items when screen is smaller than 809px*/
.nav-block {width:100%;text-align:left;float:none;padding:8px 16px;overflow:auto;background-color:rgb(255,255,255)}
.nav-block .bar-item {display:block!important}
.nav-block:hover {background-color:rgb(245,245,245)!important;color:rgb(60,179,113)!important;text-decoration:none}
.text-SubNav {text-indent:18px;font-size:13px;}
@keyframes exampleA {from {top:-300px;} to {top:0px;}}

/*Classes for product placeholder*/
.products{display:block;}
.RF-product {position:relative;width:100%;padding-top:20%;padding-bottom:20%;}
.RF-product::after{content: "";background-image:url(RF-product.jpg);background-size:100% 100%;background-repeat:no-repeat;top:0;left:0;bottom:0;right:0;position:absolute;z-index:-1;filter:brightness(60%);}
.RFA-product {position:relative;width:100%;padding-top:20%;padding-bottom:20%;}
.RFA-product::after{content: "";background-image:url(RFA-product.jpeg);background-size:100% 100%;background-repeat:no-repeat;top:0;left:0;bottom:0;right:0;position:absolute;z-index:-1;filter:brightness(50%);}

/*Classes for products*/

/*classes for slideshow button*/
.buttonForSlideshow {background-color:transparent;color:rgb(200,200,200);width:50px;height:50px;border:0}
.leftButton{position:absolute;top:45%;left:0%}
.rightButton{position:absolute;top:45%;right:0%}
.buttonForSlideshow:hover {color:rgb(60,179,113)}
.buttonForSlideshow:focus {border:none;outline:none} 

/*classes for text about products*/
.RFs{display:block;width:85%;margin:auto;margin-left:7%;}
.animRFs {position:relative;animation:opacity;animation-duration:2s}
.information {position:absolute;width:60%;margin-bottom:1%;}
@keyframes opacity {from{opacity:0} to{opacity:1}}
.TextTitle{font-family:'Source Sans Pro',Arial,sans-serif;font-size:35px;line-height:41px;color:rgba(255,255,255,2);font-weight:600;margin-bottom:19px;}
.TextSubtitle {font-family:'Source Sans Pro',Arial,sans-serif;font-size:18px;line-height:24px;color:rgba(255,255,255,2);font-weight:600;margin-bottom:10px;}
.white{color:rgb(255,255,255)!important}
/*classes for product logo*/
.logoOfProducts{width:76px;background-color:rgb(255,255,255);border:1px solid rgb(255,255,255);border-radius:15px;padding:5px 0px;margin-bottom:1%}

/*classes for learn more button*/
.leftPosition{display:block;width:14%}
.button {width:100%;border:1px solid rgb(255,255,255);background-color:transparent;color:rgb(255,255,255);padding:4px 3px;text-align:center;text-decoration:none;display:block;cursor:pointer;border-radius:15px;margin-top:20%;}
.button:hover {color:rgb(60,179,113)!important;background-color:rgb(255,255,255)!important;}
.button:focus {outline:none} 

/*Classes for different sizes of screen*/

@media (max-width:1270px) {.XBRLText{height:520px!important}}

@media (max-width:1080px) { .TextSubtitleA {font-size:22px!important;} .XBRLText{height:590px!important} .TextTitle{font-size:22px!important;} .TextTitle{font-size:28px} .TextSubtitle {font-size:15px}}

@media (min-width:809px) {.hide-small {display:none!important} }

@media (max-width:809px) {.hide-big {display:none!important}.show {display:block!important;animation:exampleA;animation-duration:1s} .showSub {display:block!important;} .showCarosel{display:block!important;animation:exampleA;animation-duration:1s} .RFs{margin-left:8%!important;} .button{padding:4px 3px!important;font-size:11px!important;} .information {width:74%!important;} .XBRLText{width:50%!important;height:420px!important;} .BlackBorder{border-right:none!important;border-bottom:1px solid rgb(42,45,52)!important} .WhiteBorder{border-bottom:1px solid rgb(245,245,245)!important}.NoBottomBorder {border-bottom:none!important} .TextTitle{font-size:20px!important;} .none {display:none} .TextSubtitle {font-size:13px} .TextSubtitleA {font-size:20px!important;}.width100-Procent {padding-top:2%} .TextSubtitle {font-size:10px}}

@media (max-width:700px) {.width100-Procent {padding-top:1%!important}}

@media (max-width:600px) {.XBRLText{width:100%!important;height:340px!important;border-right:none!important} .BottomBorder {border-bottom:1px solid rgb(240,240,240)!important} .RFs{width:80%;margin-left:10%!important;} .leftPosition{width:20%} .TextSubtitleA {font-size:19px!important;font-weight:400!important} .width100-Procent {padding-top:2%!important} .RF-product{padding-top:25%;} .RFA-product{padding-top:25%;}}



/*Classes for XBRL*/

.xbrl {width:100%;background-color:rgb(255,255,255);padding-bottom:0!important;border-top:1px solid rgb(215,215,215);}

/*Classes for XRBL picture and title about XBRL*/
.widthImg{width:100%;padding-bottom:0.5%}
.widthText {width:75%;float:left;height:100%;}
.width100-Procent {width:100%;height:100%;padding-top:6%}
.pictureXBRL {width:25%;float:left;}
.pictureXBRL img {max-width:100%}
.clearfix::after {content:"";clear:both;display:table;}

/*classes for XBRl font*/
.TextSubtitleA {letter-spacing:-0.5px;text-align:left;border:none;white-space:normal;text-decoration:none;font-family:'Source Sans Pro',Arial,sans-serif;font-size:25px;color:rgb(0,0,0)!important;font-weight:400}
.TextSubtitleBlack {letter-spacing:-0.4px;text-align:center;border:none;white-space:normal;text-decoration:none;font-family:'Source Sans Pro',Arial,sans-serif;font-size:21px;color:rgb(0,0,0)!important;font-weight:400}
.TextSubtitleWhite {letter-spacing:-0.4px;text-align:center;border:none;white-space:normal;text-decoration:none;font-family:'Source Sans Pro',Arial,sans-serif;font-size:21px;color:rgb(255,255,255)!important;font-weight:400}
.TextBlack {font-family:'Source Sans Pro',Arial,sans-serif;font-size:14px;text-align:left;color:rgb(42,45,52)!important;line-height:2;letter-spacing:0.0px;font-weight:400;margin-left:12.5px}
.TextWhite {font-family:'Source Sans Pro',Arial,sans-serif;font-size:14px;text-align:left;color:rgb(255,255,255)!important;line-height:2;letter-spacing:0.0px;font-weight:400;margin-left:12.5px}

/*classes for XBRl information*/
.XBRLText {float:left;padding-left:1%;padding-right:1%;padding-top:0%;padding-bottom:0%;width:25%;border-right:1px solid rgb(42,45,52);height:400px;margin:0!important}
.coolSignWhite {background-color:rgb(0,173,239);color:rgb(255,255,255);font-size:15px;padding:3px;border-radius:50%;margin-right:1%}
.coolSignBlack {background-color:rgb(0,173,239);color:rgb(0,0,0);font-size:15px;padding:3px;border-radius:50%;margin-right:1%}

/*classes for XBRL links*/
.LinksXBRL {float:left;width:25%}
.LinksInXBRL {width:80%;margin-left:auto;margin-right:auto;}
.LinksInXBRL li{padding:0;border-bottom:1px solid #ddd;text-align:center}
.LinksInXBRL a:hover {color:rgb(60,179,113)!important;background-color:rgb(255,255,255)!important;}
.LinksInXBRL a {display:block;padding:5px 10px;}
/*.LinksInXBRL li:last-child{border-bottom:none;}*/
.LinksInXBRL a:hover {text-decoration:none;}
.LinksInXBRL a:active {color:inherit}

/*Classes for footer*/
.footer {background-color:rgb(0, 173, 239)!important;width:100%;border-bottom:1px solid rgb(0, 173, 239);padding-top:0.5%;padding-bottom:0.5%;border-top:1px solid rgb(0, 173, 239);}
.office {float:left;width:30%;padding-left:10%;padding-top:1%}
.footerLinks {float:left;width:50%;padding-left:10%;padding-top:1%}
.FooterShow {display:block!important;animation:exampleB!important;animation-duration:3s!important}
@keyframes exampleB {from {top:-60px;} to {top:0px;}}
.onHover {transition-property:color;transition-duration:0.2s;transition-timing-function:linear;transition-delay:0.1s;}
.onHover:hover {color:rgb(255,255,255)!important;}
.TextBlackFooter {font-family:'Source Sans Pro',Arial,sans-serif;font-size:14px;text-align:left;color:rgb(42,45,52)!important;line-height:2;letter-spacing:0.0px;font-weight:400;}
a:hover {color:rgb(60,179,113)!important}
.TextSubtitleAFooter {letter-spacing:-0.3px;text-align:left;border:none;white-space:normal;text-decoration:none;font-family:'Source Sans Pro',Arial,sans-serif;font-size:19px;color:rgb(0,0,0)!important;font-weight:400}
.Partner {float:left;width:20%;padding-top:1%;}
.marginLeft2px{margin-left:2px}

/*Classes for All rights reserved*/
.AllRights {width:100%;padding:1% 0%;background-color:rgb(42,45,52);}
.PlaceAllRights {width:50%;margin:auto}
.TextAllRights {font-family:'Source Sans Pro',Arial,sans-serif;font-size:12px;text-align:center;color:rgb(255,255,255)!important;line-height:2;letter-spacing:0.1px;font-weight:400;}
/*Classes for shadowing*/
.hover-shadow:hover{transform:scale(1.09,1.09);}
.hover-shadow:hover{transform:scale(1.01,1.01);box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}


@media (max-width:1014px) {.office{width:100%!important;padding-left:1%!important;;padding-bottom:2%} .footerLinks{width:100%!important;padding-left:1%!important;;padding-bottom:2%} .Partner{width:100%!important;padding-bottom:2%;padding-left:1%!important;;} .pictureXBRL{display:block;width:80%;margin:auto!important;float:none;padding-left:20%!important;} .pictureXBRL img {width:60%;} .widthText{display:block;width:100%;float:none;margin:auto!important;} .width100-Procent {padding-top:2%!important}}

/*Go to top button*/
#myBtn {font-family:'Source Sans Pro',Arial,sans-serif;display:none;position:fixed;bottom:0;right:2%;z-index:99;font-size:26px;font-weight:400;border:none;outline:none;cursor:pointer;padding:2px 16px;background-color:rgb(255,255,255);color:rgb(60,179,113);border-radius:10px 10px 0px 0px;}
#myBtn:hover {background-color:rgb(97,135,155)}



